<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>373473883644-a53nkd077cj828v8f6uljbufsmopufau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373473883644-a53nkd077cj828v8f6uljbufsmopufau</string>
	<key>API_KEY</key>
	<string>AIzaSyDxF_MAhuXpRnnjKL0wH8OstIGwx0z9xkg</string>
	<key>GCM_SENDER_ID</key>
	<string>373473883644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pkse1213.KEPCOde</string>
	<key>PROJECT_ID</key>
	<string>kepcode-123</string>
	<key>STORAGE_BUCKET</key>
	<string>kepcode-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373473883644:ios:8e514bf3c8bf375b</string>
	<key>DATABASE_URL</key>
	<string>https://kepcode-123.firebaseio.com</string>
</dict>
</plist>